body{margin:0;padding:0;background-color:#E1E9FF;}
	ul{list-style-type: none;margin:0 0 0 10px;padding:0}
	li{font-size:12px;line-height:30px;list-style-type: none;}
	.button{margin:10px 0 0 30%; float:left;}
	.button li{ float:left; margin:0}
	.button_01{background-image:url(images/uploadFileBottom.gif);height: 21px;
		width: 80px;
		border-width: 0px;
		font:12px;
		color: #3c6691;
		cursor:pointer; margin-right:10px;}
	.errorFontStyle{background:url(images/validatebox_warning.png) left no-repeat;color:red;width:20px;}
	.errorNewsContent{border: 1px solid red;}